
<div>
  <kendo-grid #grid [data]="products"
  (add)="addHandler($event)"
  (save)="saveHandler($event)"
  (remove)="removeHandler($event)"
  (cancel)="cancelHandler($event)"
  (cellClick)="cellClickHandler($event)"
  (cellClose)="cellCloseHandler($event)"
    >
    <ng-template kendoGridToolbarTemplate>
      <button kendoGridAddCommand>Add new</button>
      <button
        class="k-button"
        (click)="saveChanges(grid)"
      >
        Save Changes
      </button>
      <kendo-grid-column field="name" title="Tên" editor="string">       
      </kendo-grid-column>
      <kendo-grid-column field="price" title="Giá tiền" editor="numeric" >       
      </kendo-grid-column>
      <kendo-grid-command-column title="Command">
          <ng-template kendoGridCellTemplate let-isNew="isNew">
            <button kendoGridRemoveCommand>Remove</button>
            <button kendoGridSaveCommand>Add</button>
            <button kendoGridCancelCommand>Cancel</button>
          </ng-template>
      </kendo-grid-command-column>
    </ng-template>
  </kendo-grid>
</div>

